---
const groupedTools = {
  "Graphic Design": [
    "photoshop",
    "illustrator",
    "canva",
    "figma",
  ],

  "Audio Specialist": [
    "studioone",
    "flstudio",
    "ableton",
    "audacity",
  ],

  "Administrative Support": [
    "google-workspace",
    "microsoft-office",
    "trello",
  ],
};

import Capsule from "../ui/Capsule.astro";

type ToolVariant = "default" | "center";

// Base classes that are common to all variants
const baseClasses = "grid gap-4 max-lg:gap-3";

// Variant-specific classes
const variantClasses: Record<ToolVariant, string> = {
  default: "grid-cols-3 max-lg:grid-cols-2 max-md:grid-cols-1",
  center: "grid-cols-1 place-items-center",
};

const { variant = "default", linkEnabled = false, size = "md" } = Astro.props;

// Combine base classes with variant-specific classes
const classes = `${baseClasses} ${variantClasses[variant as ToolVariant]}`;
---

<div class={classes}>
  {Object.entries(groupedTools).map(([group, tools]) => (
    <div class={variant === "center" ? "w-full max-w-md text-center" : "w-full"}>
      <h4 class="text-sm font-semibold text-gray-600 dark:text-gray-300 mb-2">{group}</h4>
      <div class={variant === "center" ? "flex flex-wrap gap-3 mb-4 justify-center" : "flex flex-wrap gap-3 mb-4"}>
        {tools.map((tool) => (
          <Capsule lang={tool} linkEnabled={linkEnabled} size={size} />
        ))}
      </div>
    </div>
  ))}

</div>
 
